/* Default styles for all screen sizes */
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  width: 100%;
  max-width: 100%; /* Set a max-width for the content */
}

.leftColumnContainer {
  flex: 2.5; /* 80% width for the left column container */
  overflow-y: auto; /* Enable scroll for the left column container */
}

.leftColumn {
  padding: 20px;
  background-color: #f0f0f0;
}

.rightColumnContainer {
  flex: 0.75; /* 20% width for the right column container */
  overflow-y: auto; /* Enable scroll for the right column container */
}

.rightColumn {
  padding: 20px;
  background-color: #d3d3d3;
}

.middleColumnContainer {
  flex: 6.75; /* 80% width for the middle column container */
  overflow-y: auto; /* Enable scroll for the middle column container */
}

.middleColumn {
  padding: 20px;
  background-color: #f0f0f0;
}

/* Responsive adjustments */
@media (max-width: 500px) {
  .main {
    flex-direction: column; /* Stack columns vertically on smaller screens */
  }

  .leftColumnContainer,
  .rightColumnContainer,
  .middleColumnContainer {
    flex: 1; /* Full width for all columns on smaller screens */
  }

  .leftColumn,
  .rightColumn,
  .middleColumn {
    padding: 10px; /* Reduce padding for columns on smaller screens */
  }
}
